# Astro marketing site (build-time)
PUBLIC_SITE_URL=https://www.omgcargo.tech
PUBLIC_APP_URL=https://cargo.omgexp.com
PUBLIC_CANONICAL_BASE=https://www.omgcargo.tech
PUBLIC_NOINDEX=false
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
PUBLIC_CONTACT_API_URL=https://cargo.omgexp.com/api/contact
PUBLIC_GTM_ID=GTM-NLW7B7NP
